@font-face {
    font-family: "ffDin"; /* Project id 3153982 */
    src: url('https://res.ipetapi.com/miniprogram/mall/font/FF_DIN_Round_Pro_Bold.otf') format('truetype');
}

@font-face {
    font-family: "meow";
    src:url("./fonts/zaozigongfangjianyuanti.ttf") format('truetype');
}

*{
    font-family: meow;
}
